<!DOCTYPE html>
<html>

<head>
    <title>Laces | Linked Data Viewer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <!-- Open Iconic -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
        integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
    <!-- flag-icon-css -->
    <link rel="stylesheet" href="static/flag-icon-css/css/flag-icon.min.css" />
    <!-- Custom -->
    <link rel="stylesheet" href="static/custom.css">
    <link rel="stylesheet" href="static/custom-icons.css">
    <link rel="icon" type="image/png" href="static/favicon.png">
</head>

<body>
    <div id="app-container">
        <div class="container">
            <div class="row">
                <div class="one-half column" style="margin-top: 25%">
                    <h4>Please wait</h4>
                    <p>The application is loading...</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-container">
            <span class="text-muted">Laces Linked Data Viewer @@version. Copyright (c)
                <a class="company-logo" href="https://semmtech.com/" target="_blank">
                    <span class="copyright-sign-image">
                        <span class="company-logo-img">Semmtech B.V.</span>
                    </span>
                </a>
            </span>
        </div>
    </footer>
</body>

<script type="text/javascript">
    app.run();
</script>

</html>